.container{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	header{
		margin-left: 5.2vW;
	}
}

.aboutContainer{
	height: 100%;
	display: flex;
	// align-items: center;
	flex-direction: column;
	margin-left: 5.2vw;
	.aboutData{
		display: flex;
		flex-direction: row;
		overflow: visible !important;
		h1{
			margin-right: 44px;
		}
		.aboutImage{
			width: 88px;
			height: 120px;
			margin-right: 15px;
			cursor: pointer;
		}
	}
}

.aboutContainer-open{
	height: 100%;
	display: flex;
	display: none;
	// opacity: 0;
	flex-direction: column;
	justify-content: flex-start;
	// padding: 0 0 90px 74px;
	padding-left:74px;
	.aboutFullTitle-open{
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 5vh;
		.aboutTitle-open{
			margin-right: 20px;
		}
		.aboutTitle-cross{
			// margin-left: 20px;
			background: black;
		}
		.aboutTitle-cross:hover{
			cursor: pointer;
		}
	}
	.aboutInfos-open{
		display: flex;
		flex-direction: row;
		.aboutInfos-group{
			display: flex;
			flex-direction: row;
			flex-grow: 1;
			.aboutInfos-group-sub{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				flex-grow: 1;
			}
		}
		.aboutImage-open{
			max-height: 380px;
			max-width: 42vh;
			// min-width: 19vw;
			min-height: 40vh;
		}
		.aboutOthers{
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			justify-content: flex-end;
			margin-right: 30px;
			.aboutOther{
				height: 90px;
				width: auto;
				margin: 0 5px;
				transition-duration: 0.5s;
			}
			.aboutOther:hover{
				cursor: pointer;
				filter: grayscale(0) !important;
				opacity: 1 !important;
			}
			.notChosen{
				filter: grayscale(1);
				opacity: 0.5;
			}
			.chosenOne{
				filter: grayscale(0) !important;
				opacity: 1 !important;
			}
		}
		.aboutOthers-2{
			display: none;
		}
	}
	.aboutText-open{
		width: 25vw;
		max-width: 320px;
		margin-left: 4vw;
	}
}


// RESPONSIVE

@media screen and (max-width: 950px) {

	.aboutContainer-open{
		justify-content: center;
		margin: 0 0 0 74px;
	}

	.aboutOthers-1{
		display: none !important;
	}
	.aboutOthers-2{
		display: flex !important;
	}

	.aboutContainer{
		flex-direction: column;
		align-items: normal;
		justify-content: center;
		margin: 0 15px;
		.aboutImage{
			margin: 5px;
		}
	}

	.aboutInfos-open{
		flex-direction: column !important;
		// .aboutImage-open{
		// }
		.aboutOthers{
			overflow: scroll;
			justify-content: flex-start !important;
			.aboutOther{
				width: 66px;
				height: 90px;
			}
		}
	}
}

// @media screen and (max-width: 600px) {
// 	.aboutContainer{
// 		flex-direction: column;
// 		align-items: normal;
// 		justify-content: center;
// 		margin: 0 15px;
// 		.aboutImage{
// 			margin: 5px;
// 		}
// 	}
// 	.aboutContainer-open{
// 		margin: 0;
// 		justify-content: center;
// 		margin: 0 20px;
// 		.aboutInfos-open{
// 			flex-direction: column;
// 			.aboutInfos-group{
// 				display: flex;
// 				flex-direction: row;
// 				margin-bottom: 200px;
// 			}
// 			.aboutText-open{
// 				width: auto;
// 			}
// 			.aboutImage-open{
// 				width: 88px;
// 				height: 120px;
// 			}
// 			.aboutOthers{
// 				overflow: scroll;
// 				.aboutOther{
// 					width: 66px;
// 					height: 90px;
// 				}
// 			}
// 		}
// 	}
// }
@media screen and (max-aspect-ratio: 3/4) {
	.aboutContainer{
		flex-direction: column;
		align-items: normal;
		justify-content: center;
		margin: 0 15px;
		.horizontal_blank1{
			display: none;
		}
		.aboutData{
			flex-direction: column;
			.aboutImage{
				margin: 5px;
			}
		}
	}
	.aboutContainer-open{
		margin: 0;
		justify-content: center;
		margin: 0 20px;
		padding: 0;
		.horizontal_blank1{
			height: 17vw;
		}
		h1{
			font-size: 49px;
		}
		.aboutInfos-open{
			flex-direction: column;
			.aboutInfos-group{
				display: flex;
				flex-direction: row;
				margin-bottom: 200px;
			}
			.aboutText-open{
				width: auto;
			}
			.aboutImage-open{
				width: 88px;
				height: 120px;
				min-height: auto;
			}
			.aboutOthers{
				overflow: scroll;
				.aboutOther{
					width: 66px;
					height: 90px;
				}
			}
		}
	}
}