.container{
	display: flex;
	flex-direction: column;
	padding-left: 0;
	header{
		margin-left: 5.2vW;
	}
}

.aboutContainer{
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: row;
	h1{
		margin-right: 44px;
	}
	.aboutImage{
		width: 88px;
		height: 120px;
		margin-right: 16px;
	}
}

.aboutContainer-open{
	height: 100%;
	display: flex;
	flex-direction: column;
	display: none;
	justify-content: flex-end;
	margin: 0 0 100px 74px;
	.aboutFullTitle-open{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 5vh;
		svg{
			margin-left: 10px;
		}
	}
	.aboutInfos-open{
		display: flex;
		flex-direction: row;
		.aboutImage-open{
			height: 380px;
			max-width: 42vh;
		}
		.aboutOthers{
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			margin-right: 10px;
			.aboutOther{
				height: 90px;
				width: auto;
				margin: 0 5px;
			}
			.notChosen{
				filter: grayscale(1);
				opacity: 0.5;
			}
			.chosenOne{
				filter: grayscale(0) !important;
				opacity: 1 !important;
			}
		}
	}
	.aboutText-open{
		max-width: 25vw;
		margin-left: 4vw;
	}
}