$bgColor: #000;
$mainColor: #9E949C;
$secColor: #F5EFF3;


// ANIMATIONS

h1{
	overflow: hidden;
}

@keyframes idk {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.border_bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: $mainColor;
}

.border_left{
	position: absolute;
	// bottom: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background: $mainColor;
}

// CSS


* ::-webkit-scrollbar{
	display: none;
}

.overall{
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 100vw;
}

.blbl{
	height: 100vh;
	width: 15px;
}

.wrapper{
	/* position: absolute; */
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	/* grid-template-rows: repeat(24, 10px); */
	width: 100%;
	height: 100vh;
}

.wrapper .column{
	border: solid $mainColor 0.1px;
	grid-gap: 0;
}

.wrapper .r{
	border: solid $mainColor 0.1px;
	grid-gap: 0;
}
// 

*{
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	color: $secColor;
}

body{
	background: $bgColor;
	width: 100vw;
}

.main_color{
	color: $mainColor;
}

h1{
		font-family: "Editorial New";
		font-size: 70px;
		font-weight: 100;
		font-style: normal;
		line-height: 60px;
		letter-spacing: -3px;
		color: $mainColor;
		// animation: 1s ease-in-out 0s 1 idk;
}

h3{
	font-family: "Editorial New";
	font-size: 50px;
	font-weight: 100;
	font-style: normal;
	line-height: 62px;
	letter-spacing: -0.04em;
	color: $mainColor;
}

h5{
	// font-family: "Helvetica Neue";
	font-family: neue-haas-grotesk-display, sans-serif;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	line-height: 20px;
	color: $secColor;
}

span, div{
	// font-family: "Helvetica Neue";
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: $secColor;
}

a{
	text-decoration: none;
	cursor: pointer;
}

.highcap{
	text-transform: uppercase;
}

.smallcap{
	font-family: "Helvetica Neue";
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	line-height: 20px;
}

.text{
	font-family: "Helvetica Neue";
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	line-height: 20px;
}

header{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 13.48vh;
	// border-bottom: 1px $mainColor solid;
	// padding-top: 4.2vw;
	.headerLogo{
		margin-bottom: 2.2vh;
	}

}

.mainPage{
	display: flex;
	flex-direction: row;
}


.load_container{
	background: $bgColor;
	display: none !important;
	// display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 120;
	.loader-text_container{
		display: flex;
		flex-direction: column;
		width: 20vw;
		height: auto;
		overflow: hidden;
		.loader-name_container{
			position: relative;
			display: flex;
			justify-content: center;
			width: 20vw;
			height: 5vh;
		}
		.loader-percent_container{
			position: relative;
			display: flex;
			justify-content: center;
			width: 20vw;
			height: 10vh;
			.loader-percent{
				font-family: "Editorial New";
				font-size: 70px;
				font-weight: 100;
				font-style: normal;
				line-height: 60px;
				letter-spacing: -3px;
				color: $mainColor;
			}
		}
		.loader-percent, .loader-name{
			position: absolute;
			width: auto;
			height: auto;
			top: 100%;
			opacity: 0;
			text-align: center;
		}
	}
	.loader-images_container{
		position: relative;
		height: 50vh;
		width: 20vw;
		bottom: -20px;
		z-index: 110;
		overflow: hidden;
		.loader-image-f-1{
			position: absolute;
			left: 0;
			width: 20vw;
			height: auto;
			top: 50%;
			opacity: 0;
		}
		img[class*="loader-image-a"]{
			position: absolute;
			left: 0;
			width: 20vw;
			height: auto;
			top: 0%;
			opacity: 0;
		}
	}
}


.container{
	height: 100vh;
	width: 83.9vw;
	padding-left: 5.2vw;
}

.menu{
	transition-duration: 0.8s;
	position: fixed;
    right: 0;
    height: 100vh;
    z-index: 10;
    background: no-repeat url("../images/noir.jpg");
	// border-left: 1px $mainColor solid;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	.menu_items a{
		display: inline;
		position: relative;
		color: $mainColor;
		margin-bottom: 1.8vh;
		height: fit-content;
	}
	:hover{
		cursor: pointer;
	}
	h5{
		display: inline-block;
	}
	.menu_top{
		width: 100%;
		.menu_blank{
			position: relative;
			width: 100%;
			height: 4.44vh;
			overflow: hidden;
			// border-bottom: 1px $mainColor solid;
		}
		.menu_title{
			margin-top: 2.4vh;
			// width: 100%;
			// width: auto;
		}
		.menu_square{
			display: inline-block;
			width: 17px;
			height: 12px;
			margin-left: 16px;
			transition-duration: 0.8s;
			border-top: solid 1px $mainColor;
			border-bottom: solid 1px $mainColor;
		}
	}
}

.menu_close{
	width: 16.1vw;
	.menu_items{
		display: none;
	}
	.menu_title{
		text-align: center;
	}
}

.underline_menu{
	display: inline-block;
	width: 100%;
	height: 1px;
	background: $mainColor;
}

.menu_open{
	width: 22vw;
	.menu_items{
		// display: block;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
		margin-top: 9.3vh;
		margin-bottom: 2.5vh;
		.menu_item{
			display: inline;
			h3{
				display: inline-block;
				// display: flex;
				// justify-content: flex-end;
				margin-right: 6.2vw;
				line-height: 45px;
			}
		}
	}
	.menu_title{
		text-align: right;
		margin-right: 5.2vw;
	}
	.menu_footer{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		.ines{
			margin-top: 1.5vh;
		}
		.find_media{
			margin-top: 0.8vh;
		}

	}
}

.menu{
	.menu_items{
		/* Fade in */
		a::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.1vh;
			background-color: $mainColor;
			opacity: 0;
			transition: opacity 300ms, transform 300ms;
		}
		a:hover::after,
		a::after {
		opacity: 1;
		// transform: translate3d(0, 2em, 0);
		color: red;
		}
		a::after {
			opacity: 1;
			transform: translate3d(200%, 0, 0);
			// color: red;
		}
		a:hover::after,
		a:focus::after{
		transform: translate3d(0%, 0, 0);
		// color: red;
		}
	}
}
.menu_footer{
	margin-bottom: 4.5vh;
	.menu_design{
		display: flex;
		flex-direction: column;
		margin-bottom: 2.5vh;
		.ines{
			text-decoration: underline;
		}
	}
	.menu_find{
		display: flex;
		flex-direction: column;
	}
}



// 

.home_title{
	display: inline;
}

.home_arrow{
	margin: 0 1vw;
}

.presentation_text{
	display: inline-block;
	color: $secColor;
	width: 25vw;
	margin-top: 4.4vh;
}

.horizontal_blank1{
	display: block;
	width: 100%;
	height: 22vh;
}

.horizontal_blank2{
	display: block;
	width: 100%;
	height: 11vh;
}

.contact_intro{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.contact_text{
		display: inline-block;
		color: $secColor;
		width: 35.7vw;
		margin-top: 4.4vh;
	}
	// .contact_rows{
	// 	.row_init{
	// 		width: 38vw;
	// 		height: 1px;
	// 		margin-bottom: 6px;
	// 	}
	// 	.row{
	// 		width: 38vw;
	// 		height: 1px;
	// 		background: $mainColor;
	// 		margin-bottom: 7px;
	// 	}
	// }
}

.contact_rows{
	height: 40vh;
}

.contact_mail{
	display: flex;
	// flex-direction: row;
	// align-items: center;
	display: block;
	padding-left: 16.4vw;
	background: black;
	cursor: pointer;
	.mail{
		display: inline-block;
	}
	svg{
		margin-left: 1vw;
	}
	.contact_fill{
		display: block;
		width: 20px;
		height: 40px;
		background: $mainColor;
		margin: 0 5px;
	}
}

.click{
	// transition-duration: 0.5s;
	cursor: pointer;
	position: absolute;
	transition: 0.5s ease-out;
}
.not{
	display: none;
}


// RESPONSIVE

@media screen and (max-width: 900px) {
	.presentation_text{
		width: 60vw;
	}
}

@media screen and (max-width: 1100px) {
	.contact_mail{
		padding-left: 0;
	}
}

@media screen and (max-width: 800px) {
	.contact_intro{
		.contact_text{
			width: 70vw;
		}
	}
	.contact_mail{
		padding-left: 0;
		span{

			display: block;
		}
	}
}

@media screen and (max-width: 300px) {
	div.contact_mail h1{
		font-size: 46px;
	}
}


