$bgColor: #000;
$mainColor: #9E949C;
$secColor: #F5EFF3;

body {
	scrollbar-width: none;
	// height: 172vh;
	.container{
		overflow-y: hidden;
	}
	a{
		cursor: pointer;
	}
}

header{
	border-bottom: none
}
// .menu{
// 	position: fixed;
// 	right: 0;
// 	height: 100vh;
// 	z-index: 100;
// 	background: no-repeat url("../images/noir.jpg");
// }

.work_global{
	z-index: -10;
	display: flex;
	height: 86.52vh;
	width: fit-content;
	#works{
		display: flex;
		width: fit-content;
		height: 86.52vh;
	}
	.work_project1{
		// border-left: $secColor 0.1px solid;
	}
	.work_project{
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		// border-right: $secColor 0.1px solid;
		// border-top: $mainColor 0.1px solid;
		height: 86.52vh;
		// max-width: 28vw;
		.project_link{
			height: 20vh;
			margin: 3.5vh 2vw 4vh 2.5vw;
			.project_name{
				display: inline-block;
				line-height: 100%;
				overflow: visible;
			}
		}
			img{
				height: 75%;
				max-height: 580px;
				max-width: 411px;
			}
	}
}

.work_project-blank{
	display: flex;
	// width: 50vw;
	// width: 17.1vw;
	z-index: 1500;
	background: red;
}

.last_project{
	margin-right: 25vw;
}


// RESPONSIVE

// @media screen and (max-width: 450px) {
// 	.work_project{
// 		width: 83.9vw;
// 		img{
// 			object-fit: contain;
// 			display: flex;
// 			height: auto !important;
// 		}
// 		.blackk{
// 			width: 10vw;
// 		}
// 	}
// }
@media screen and (max-aspect-ratio: 9/15) {
	.work_project{
		width: 83.9vw;
		img{
			object-fit: contain;
			display: flex;
			height: auto !important;
		}
		.blackk{
			width: 10vw;
		}
	}
}