.container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
}

.container header {
  margin-left: 5.2vW;
}

.aboutContainer {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10vw;
}

.aboutContainer h1 {
  margin-right: 44px;
}

.aboutContainer .aboutImage {
  width: 88px;
  height: 120px;
  margin-right: 16px;
  cursor: pointer;
}

.aboutContainer-open {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 100px 74px;
}

.aboutContainer-open .aboutFullTitle-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

.aboutContainer-open .aboutFullTitle-open .aboutTitle-cross {
  margin-left: 20px;
  background: black;
}

.aboutContainer-open .aboutFullTitle-open .aboutTitle-cross:hover {
  cursor: pointer;
}

.aboutContainer-open .aboutInfos-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aboutContainer-open .aboutInfos-open .aboutInfos-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.aboutContainer-open .aboutInfos-open .aboutInfos-group .aboutInfos-group-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.aboutContainer-open .aboutInfos-open .aboutImage-open {
  max-height: 380px;
  max-width: 42vh;
}

.aboutContainer-open .aboutInfos-open .aboutOthers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
}

.aboutContainer-open .aboutInfos-open .aboutOthers .aboutOther {
  height: 90px;
  width: auto;
  margin: 0 5px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.aboutContainer-open .aboutInfos-open .aboutOthers .aboutOther:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0) !important;
          filter: grayscale(0) !important;
  opacity: 1 !important;
}

.aboutContainer-open .aboutInfos-open .aboutOthers .notChosen {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.5;
}

.aboutContainer-open .aboutInfos-open .aboutOthers .chosenOne {
  -webkit-filter: grayscale(0) !important;
          filter: grayscale(0) !important;
  opacity: 1 !important;
}

.aboutContainer-open .aboutInfos-open .aboutOthers-2 {
  display: none;
}

.aboutContainer-open .aboutText-open {
  width: 25vw;
  margin-left: 4vw;
}

@media screen and (max-width: 950px) {
  .aboutContainer-open {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 74px;
  }
  .aboutOthers-1 {
    display: none !important;
  }
  .aboutOthers-2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 15px;
  }
  .aboutContainer .aboutImage {
    margin: 5px;
  }
  .aboutInfos-open {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .aboutInfos-open .aboutOthers {
    overflow: scroll;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .aboutInfos-open .aboutOthers .aboutOther {
    width: 66px;
    height: 90px;
  }
}

@media screen and (max-width: 600px) {
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 15px;
  }
  .aboutContainer .aboutImage {
    margin: 5px;
  }
  .aboutContainer-open {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 20px;
  }
  .aboutContainer-open .aboutInfos-open {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutContainer-open .aboutInfos-open .aboutInfos-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 200px;
  }
  .aboutContainer-open .aboutInfos-open .aboutText-open {
    width: auto;
  }
  .aboutContainer-open .aboutInfos-open .aboutImage-open {
    width: 88px;
    height: 120px;
  }
  .aboutContainer-open .aboutInfos-open .aboutOthers {
    overflow: scroll;
  }
  .aboutContainer-open .aboutInfos-open .aboutOthers .aboutOther {
    width: 66px;
    height: 90px;
  }
}
/*# sourceMappingURL=about2.css.map */