@-webkit-keyframes idk {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes idk {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* ::-webkit-scrollbar {
  display: none;
}

.overall {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.blbl {
  height: 100vh;
  width: 15px;
}

.wrapper {
  /* position: absolute; */
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  /* grid-template-rows: repeat(24, 10px); */
  width: 100%;
  height: 100vh;
}

.wrapper .column {
  border: solid #9E949C 0.1px;
  grid-gap: 0;
}

.wrapper .r {
  border: solid #9E949C 0.1px;
  grid-gap: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #F5EFF3;
}

body {
  background: #000;
  width: 100vw;
}

.main_color {
  color: #9E949C;
}

h1 {
  font-family: "Editorial New";
  font-size: 70px;
  font-weight: 100;
  font-style: normal;
  line-height: 60px;
  letter-spacing: -3px;
  color: #9E949C;
}

h3 {
  font-family: "Editorial New";
  font-size: 50px;
  font-weight: 100;
  font-style: normal;
  line-height: 62px;
  letter-spacing: -0.04em;
  color: #9E949C;
}

h5 {
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  color: #F5EFF3;
}

span, div {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-style: normal;
  color: #F5EFF3;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.highcap {
  text-transform: uppercase;
}

.smallcap {
  font-family: "Helvetica Neue";
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
}

.text {
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 13.48vh;
  border-bottom: 1px #9E949C solid;
}
header .headerLogo {
  margin-bottom: 2.2vh;
}

.mainPage {
  display: flex;
  flex-direction: row;
}

.load_container {
  background: #000;
  display: none !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 120;
}
.load_container .loader-text_container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: auto;
  overflow: hidden;
}
.load_container .loader-text_container .loader-name_container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 5vh;
}
.load_container .loader-text_container .loader-percent_container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 10vh;
}
.load_container .loader-text_container .loader-percent_container .loader-percent {
  font-family: "Editorial New";
  font-size: 70px;
  font-weight: 100;
  font-style: normal;
  line-height: 60px;
  letter-spacing: -3px;
  color: #9E949C;
}
.load_container .loader-text_container .loader-percent, .load_container .loader-text_container .loader-name {
  position: absolute;
  width: auto;
  height: auto;
  top: 100%;
  opacity: 0;
  text-align: center;
}
.load_container .loader-images_container {
  position: relative;
  height: 50vh;
  width: 20vw;
  bottom: -20px;
  z-index: 110;
  overflow: hidden;
}
.load_container .loader-images_container .loader-image-f-1 {
  position: absolute;
  left: 0;
  width: 20vw;
  height: auto;
  top: 50%;
  opacity: 0;
}
.load_container .loader-images_container img[class*=loader-image-a] {
  position: absolute;
  left: 0;
  width: 20vw;
  height: auto;
  top: 0%;
  opacity: 0;
}

.container {
  height: 100vh;
  width: 83.9vw;
  padding-left: 5.2vw;
}

.menu {
  transition-duration: 0.8s;
  position: fixed;
  right: 0;
  height: 100vh;
  z-index: 10;
  background: no-repeat url("../images/noir.jpg");
  border-left: 1px #9E949C solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu .menu_items a {
  display: inline;
  position: relative;
  color: #9E949C;
  margin-bottom: 1.8vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.menu :hover {
  cursor: pointer;
}
.menu h5 {
  display: inline-block;
}
.menu .menu_top {
  width: 100%;
}
.menu .menu_top .menu_blank {
  width: 100%;
  height: 4.44vh;
  border-bottom: 1px #9E949C solid;
}
.menu .menu_top .menu_title {
  margin-top: 2.4vh;
}
.menu .menu_top .menu_square {
  display: inline-block;
  width: 17px;
  height: 12px;
  margin-left: 16px;
  transition-duration: 0.8s;
  border-top: solid 1px #9E949C;
  border-bottom: solid 1px #9E949C;
}

.menu_close {
  width: 16.1vw;
}
.menu_close .menu_items {
  display: none;
}
.menu_close .menu_title {
  text-align: center;
}

.underline_menu {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #9E949C;
}

.menu_open {
  width: 22vw;
}
.menu_open .menu_items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin-top: 9.3vh;
  margin-bottom: 2.5vh;
}
.menu_open .menu_items .menu_item {
  display: inline;
}
.menu_open .menu_items .menu_item h3 {
  display: inline-block;
  margin-right: 6.2vw;
  line-height: 45px;
}
.menu_open .menu_title {
  text-align: right;
  margin-right: 5.2vw;
}
.menu_open .menu_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.menu_open .menu_footer .ines {
  margin-top: 1.5vh;
}
.menu_open .menu_footer .find_media {
  margin-top: 0.8vh;
}

.menu .menu_items {
  /* Fade in */
}
.menu .menu_items a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1vh;
  background-color: #9E949C;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.menu .menu_items a:hover::after,
.menu .menu_items a::after {
  opacity: 1;
  color: red;
}
.menu .menu_items a::after {
  opacity: 1;
  transform: translate3d(200%, 0, 0);
}
.menu .menu_items a:hover::after,
.menu .menu_items a:focus::after {
  transform: translate3d(0%, 0, 0);
}

.menu_footer {
  margin-bottom: 4.5vh;
}
.menu_footer .menu_design {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5vh;
}
.menu_footer .menu_design .ines {
  text-decoration: underline;
}
.menu_footer .menu_find {
  display: flex;
  flex-direction: column;
}

.home_title {
  display: inline;
}

.home_arrow {
  margin: 0 1vw;
}

.presentation_text {
  display: inline-block;
  color: #F5EFF3;
  width: 25vw;
  margin-top: 4.4vh;
}

.horizontal_blank1 {
  display: block;
  width: 100%;
  height: 22vh;
}

.horizontal_blank2 {
  display: block;
  width: 100%;
  height: 11vh;
}

.contact_intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact_intro .contact_text {
  display: inline-block;
  color: #F5EFF3;
  width: 35.7vw;
  margin-top: 4.4vh;
}

.contact_rows {
  height: 40vh;
}

.contact_mail {
  display: flex;
  display: block;
  padding-left: 16.4vw;
  background: black;
  cursor: pointer;
}
.contact_mail .mail {
  display: inline-block;
}
.contact_mail svg {
  margin-left: 1vw;
}
.contact_mail .contact_fill {
  display: block;
  width: 20px;
  height: 40px;
  background: #9E949C;
  margin: 0 5px;
}

.click {
  cursor: pointer;
  position: absolute;
  transition: 0.5s ease-out;
}

.not {
  display: none;
}

@media screen and (max-width: 900px) {
  .presentation_text {
    width: 60vw;
  }
}
@media screen and (max-width: 1100px) {
  .contact_mail {
    padding-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .contact_intro .contact_text {
    width: 70vw;
  }
  .contact_mail {
    padding-left: 0;
  }
  .contact_mail span {
    display: block;
  }
}
@media screen and (max-width: 300px) {
  div.contact_mail h1 {
    font-size: 46px;
  }
}/*# sourceMappingURL=main.css.map */