.mainPage {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainPage header {
  border: 0;
}

.project_global {
  height: 86.51vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: solid 1px #9E949C;
}

.project_global .project_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5vw;
}

.project_global .project_infos a {
  color: #9E949C;
  margin-bottom: 4vh;
}

.project_global .project_infos a:hover {
  text-decoration: underline;
}

.project_global .project_infos .project_inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4vh;
}

.project_global .project_infos .project_desc {
  width: 40vw;
}

.project_global .project_im {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project_global .project_im .project_image {
  height: 86.51vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px #9E949C;
  border-top: 0;
}

.project_global .project_im .project_image-blank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 5vw;
  height: 100%;
}

.project_global .project_im .project_image-blank span {
  width: 1px;
  height: 86.51vh;
  background: #9E949C;
}

.project_global .project_black {
  width: 40vw;
  height: 1px;
}

.project_next {
  width: 70vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  border-left: 1px solid #9E949C;
}

.project_next .project_next-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: inline;
  margin-left: 2vw;
  width: 25vw;
}

.project_next .project_next-link h1 {
  margin-bottom: 5vh;
}

.project_next .project_next-link svg {
  margin-left: 5px;
}

.project_next .project_next-link .project_next-text1 {
  display: inline;
  width: 25vw;
}

.project_next .project_next-link .project_next-text2 {
  display: inline;
  width: 25vw;
}

.project_next .project_next-lines {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project_next .project_next-lines .project_next-line {
  height: 1px;
  width: 100vw;
  background: #9E949C;
}
/*# sourceMappingURL=project.css.map */