.mainPage {
  display: flex;
  flex-direction: row;
  font-family: neue-haas-grotesk-display, sans-serif;
}
.mainPage header {
  border: 0;
}

.project_global {
  height: 86.51vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  border-top: solid 1px #9E949C;
}
.project_global .idk {
  width: 40vw;
}
.project_global .project_infos {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 5vw;
}
.project_global .project_infos a {
  color: #9E949C;
  margin-bottom: 4vh;
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.project_global .project_infos a:hover {
  text-decoration: underline;
}
.project_global .project_infos .project_inf {
  display: flex;
  color: #F5EFF3;
  flex-direction: column;
  margin-bottom: 4vh;
}
.project_global .project_infos .project_desc {
  font-weight: 300;
  color: #F5EFF3;
  width: 32vw;
}
.project_global .project_images {
  display: flex;
  flex-direction: row;
}
.project_global .project_images .project_im {
  display: flex;
  height: 86.51vh;
  width: auto;
  aspect-ratio: 1089/790;
  flex-direction: row;
}
.project_global .project_images .project_im .project_image {
  height: 100%;
  border: solid 1px #9E949C;
  border-top: 0;
}
.project_global .project_images .project_im .project_image-blank {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background: #000;
}
.project_global .project_images .project_im .project_image-blank span {
  width: 1px;
  height: 86.51vh;
  background: #9E949C;
}
.project_global .project_black {
  width: 40vw;
  height: 1px;
}

.project_next {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  border-left: 1px solid #9E949C;
}
.project_next .project_next-link {
  display: flex;
  flex-direction: column;
  display: inline;
  margin-left: 2vw;
  width: 25vw;
}
.project_next .project_next-link h1 {
  margin-bottom: 5vh;
}
.project_next .project_next-link svg {
  margin-left: 5px;
}
.project_next .project_next-link .project_next-text1 {
  display: inline;
  width: 25vw;
}
.project_next .project_next-link .project_next-text2 {
  display: inline;
  width: 25vw;
}
.project_next .project_next-lines {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.project_next .project_next-lines .project_next-line {
  height: 1px;
  width: 100vw;
  background: #9E949C;
}

@media screen and (max-aspect-ratio: 9/14) {
  .container {
    padding: 0;
    overflow-x: hidden;
  }
  .container header {
    padding-left: 5.2vw;
  }
  .container .project_global {
    flex-direction: column;
  }
  .container .project_global .project_infos {
    position: initial;
    padding-left: 5.2vw;
    padding-top: 90px;
  }
  .container .project_global .project_infos .project_inf, .container .project_global .project_infos .project_desc {
    font-size: 13px;
  }
  .container .project_global .project_infos .project_desc {
    width: 70vw;
  }
  .container .project_global .project_images {
    flex-direction: column;
    padding: 0;
  }
  .container .project_global .project_images #image-1 {
    margin-top: 100px;
  }
  .container .project_global .project_images .project_im {
    flex-direction: column;
    width: 93.9vw;
    height: auto;
  }
  .container .project_global .project_images .project_im .project_image {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-left: 0;
    border-top: solid #9E949C 1px;
  }
  .container .project_global .project_images .project_im .project_image-blank {
    flex-direction: column;
    height: 5vh;
  }
  .container .project_global .project_images .project_im .project_image-blank .project_image-blank-line {
    width: 100vh;
    height: 1px;
  }
  .project_next {
    height: auto;
  }
  .project_next .project_next-link {
    width: 80vw;
  }
  .project_next .project_next-lines {
    height: 30vh;
  }
}/*# sourceMappingURL=project.css.map */