$bgColor: #000;
$mainColor: #9E949C;
$secColor: #F5EFF3;

// img{
// 	// border: solid 1px $mainColor;
// }

.a{
	width: 100%;
	position: relative;
	// height: 90vh;
	height: 86.52vh;
}

.b{
	position: absolute;
	width: 78.75vw;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: end;
	flex-wrap: wrap;
}

.c{
	position: absolute;
	width: 78.75vw;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
}

.d{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.e{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-bottom: 60px;
}

.f{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 42px;
}

.about_image{
}



.image_game{
	width: 30.59%;
	height: auto;
}
.image_manga{
	width: 41.96%;
	height: auto;
}
.image_food{
	width: 27.4%;
	height: auto;
}

.image_music{
	width: 26.89%;
	height: fit-content;
}

.image_snow{
	width: 26.62%;
	height: fit-content;
}

.image_japan{
	width: 30.06%;
	height: fit-content;
}